<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button icon="home" label="Home" tab="home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button label="Photos" tab="photos">
      <ion-icon aria-hidden="true" name="images" icon="images"></ion-icon>
      <ion-label>Gallery</ion-label>
    </ion-tab-button>

    <ion-tab-button label="About" tab="about">
      <ion-icon
        aria-hidden="true"
        name="information-circle"
        icon="information-circle"
      ></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
